---
title: Projekte
---


<main role="main-home-wrapper" class="container">
  <div class="row">
    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
      <ul class="grid-lod effect-2" id="grid">

        {% for project in site.projects  %}
          {% assign mod = forloop.index0 | modulo: 2 %}
          {% if mod == 0 %}
            <li>
              <figure class="effect-oscar">
                <img src="{{ site.baseurl }}{{ project.image }}" alt="" class="img-responsive"/>
                <figcaption>
                  <h2>{{ project.title }}</h2>
                  <p>{{ project.hovertext }}</p>
                  <a href="{{ site.baseurl }}{{ project.url }}">View more</a>
                </figcaption>
              </figure>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </section>

    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
      <ul class="grid-lod effect-2" id="grid">

        {% for project in site.projects  %}
          {% assign mod = forloop.index0 | modulo: 2 %}
          {% if mod == 1 %}
            <li>

              <figure class="effect-oscar">
                <img src="{{ site.baseurl }}{{ project.image }}" alt="" class="img-responsive"/>
                <figcaption>

                  <h2>{{ project.title }}</h2>
                  <p>{{ project.hovertext }}</p>
                  <a href="{{ site.baseurl }}{{ project.url }}">View more</a>
                </figcaption>
              </figure>
            </li>
          {% endif %}

        {% endfor %}
      </ul>
    </section-->
  </div>

</main>
