<footer role="footer">

    <h1>
        <a href="{{ site.baseurl }}/" title="Elke Scheichenost" class="logo-link"><img src="{{ site.baseurl }}/assets/images/logo.svg" title="Elke Scheichenost" alt="Elke Scheichenost" class="logo-image"/></a>
    </h1>

    <nav role="footer-nav">
        <ul>
        {% for item in site.data.navigation %}
            <li><a href="{{ site.baseurl }}{{ item.link }}" >{{ item.name }}</a></li>
        {% endfor %}
        </ul> 
    </nav>

    <ul role="social-icons">
        {% for item in site.data.social_media %}
            <li><a href="{{ item.link }}"><i class="fa {{ item.icon }}" aria-hidden="true"></i></a></li>
        {% endfor %}
    </ul>

    <p class="copy-right">&copy; {{ 'now' | date: "%Y" }} Elke Scheichenost. Alle Rechte vorbehalten.</p>

</footer>
